catkin-pkg==1.0.0
docutils==0.22
empy==3.3.4
fastcrc==0.3.2
grpcio==1.74.0
lark==1.2.2
lxml==6.0.0
mavsdk==3.9.0
protobuf==6.31.1
pymavlink==2.4.49
pyparsing==3.2.3
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
pyserial==3.5
python-dateutil==2.9.0.post0
PyYAML==6.0.2
six==1.17.0
